::-webkit-slider-thumb {
  background-color: #00b4a4;
  color: #00b4a4;
  height: 50px;
}
::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
}
#app {
  input {
    border-radius: 0.5rem;
    border: 3px solid #fa4578;
    font-size: 20px;
    padding: 5px 15px;
    min-width: 500px;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: #fa4578 !important;
    text-transform: capitalize;
    color: white !important;
    user-select: none;
  }
  .repo {
    border-radius: 0.5rem;
    padding: 10px;
    border: 2px solid #00b4a4;
    border-bottom-width: 6px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
#app2 {
  .product {
    background-color: #ff1d5d;
    border-radius: 0.3rem;
    padding: 20px;
    width: fit-content;
    color: white;
    text-align: center;
    h3 {
      text-transform: capitalize;
      font-size: 40px;
      margin-bottom: 25px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      color: #e7e7e7;
      margin-bottom: 20px;
    }
    .price {
      margin-bottom: 10px;
    }
    .price,
    .amount-title {
      font-weight: 500;
      display: block;
    }
    .amount-title {
      margin-bottom: 20px;
    }
    .total-price {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      align-items: center;
      > * {
        background-color: white;
        padding: 10px 15px;
        color: #ff1d5d;
        border-radius: 0.3rem;
      }
    }
  }
}
#app3 {
  .set-color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    li {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
      &:nth-child(1) {
        background-color: #faa800;
      }
      &:nth-child(2) {
        background-color: #03ceb3;
      }
      &:nth-child(3) {
        background-color: #fa0053;
      }
      &:nth-child(4) {
        background-color: #0075fa;
      }
      &:nth-child(5) {
        background-color: #861cff;
      }
    }
  }
  .changes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 30px;
      flex: 1;
      height: 200px;
      padding: 20px;
      background-color: var(--mainColor);
    }
  }
}
#app4 {
  form {
    margin: 20px auto;
    input {
      border-radius: 0.5rem;
      padding: 10px 15px;
      border: 3px solid #03ceb3;
      min-width: 300px;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: #00b4a4 !important;
      color: white;
    }
  }
  .result {
    background-color: #2a2d46;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 0.5rem;
    margin-bottom: 15px;
  }
}
#app5 {
  form {
    margin: 20px auto;
    input {
      border: 3px solid #2a2d46;
      border-bottom-width: 7px;
      border-radius: 0.5rem;
      padding: 5px 15px;
      min-width: 300px;
      &:focus {
        outline: none;
      }
    }
    .btn {
      background-color: #2a2d46;
      color: white;
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba($color: #2a2d46, $alpha: 0.5);
      }
    }
  }
}
#app6 {
  h4 {
    font-size: 30px;
    color: #00b4a4;
  }
  textarea {
    resize: none;
    width: 400px;
    height: 200px;
    font-size: 20px;
    border-radius: 0.5rem;
    border: 3px solid #2a3c46;
    padding: 15px;
  }
  .counter {
    background-color: #ff1d5d;
    border-radius: 0.5rem;
    padding: 10px;
    color: white;
    font-weight: bold;
    span.zero {
      color: #0d1327;
    }
  }
}
#app7 {
  background-color: #24273b;
  min-height: 100vh;
  form {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    input {
      border: 3px solid #03ceb3;
      border-bottom-width: 7px;
      padding: 5px 15px;
      min-width: 500px;
      font-size: 20px;
      &:focus {
        outline: none;
      }
      + button {
        background-color: #03ceb3;
        color: white;
        padding: 7px;
        &:focus {
          box-shadow: 0 0 0 0.25rem rgba($color: #00b4a4, $alpha: 0.5);
        }
      }
    }
  }
  .tasks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .task {
      text-align: left;
      padding: 15px;
      background-color: #2a2d46;
      color: white;
      border-radius: 0.5rem;
      flex: 1;
      box-shadow: 0 2px 18px #141622;
      width: 100%;
      font-size: 24px;
      cursor: pointer;
      position: relative;
      &.done {
        text-decoration: line-through;
      }
      .del {
        font-size: 16px !important;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
#app8 {
  button {
    background-color: #fa4578;
    font-size: 30px;
    color: white;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    &.selected {
      background-color: #03ceb3;
    }
  }
}
#app9 {
  background-color: #24273b;
  min-height: 100vh;
  .tabs-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: auto;
    li {
      opacity: 0.3;
      background-color: #fa4578;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 1.5rem;
      text-align: center;
      &.active {
        opacity: 1;
      }
    }
  }
  .tabs-content {
    background-color: #363a5c;
    text-align: left;
    border-radius: 0.5rem;
    // width: 600px;
    padding: 20px;
    font-size: 40px;
    box-shadow: 0 2px 18px rgba($color: #0d1327, $alpha: 0.4);
    color: white;
  }
}
input[type="text"] {
  &:focus {
    outline: none;
  }
}
#app11 {
  background-color: #24273b;
  min-height: 100vh;
  .grad-box {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: white;
    font-size: 35px;
  }
  form {
    margin: 20px auto;
    .form-group {
      display: inline-flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      label {
        text-transform: capitalize;
        color: white;
        font-size: 24px;
      }
      input {
        background-color: #404672;
        box-shadow: 0 2px 18px rgba($color: #0d1327, $alpha: 0.4);
        border-radius: 0.5rem;
        border: none;
        min-width: 300px;
        font-size: 20px;
        padding: 15px;
        color: #0d1327;
      }
    }
  }
  .result,
  .syntax {
    background-color: var(--bs-info);
    border-radius: 0.3rem;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 20px;
    text-align: left;
    span {
      text-transform: capitalize;
      margin-right: 30px;
      font: {
        weight: bold;
      }
    }
  }
}
#app12 {
  background-color: #24273b;
  min-height: 100vh;
  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    input {
      background-color: #24273b + 50;
      border: none;
      display: block;
      border-radius: 0.5rem;
      margin: auto;
      color: white;
      font-size: 20px;
      min-width: 300px;
      padding: 10px 15px;
      box-shadow: 0 2px 15px rgba($color: #0d1327, $alpha: 0.5);
      margin-bottom: 15px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: rgba($color: white, $alpha: 0.7);
      }
    }
    button {
      background-color: #03ceb3;
      text-transform: capitalize;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
#app13 {
  form {
    margin: 20px auto;
    color: white;
    padding: 20px;
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      label {
        text-transform: capitalize;
        font-size: 25px;
      }
      input[type="text"],
      textarea {
        background-color: #2a2d46;
        border-radius: 0.5rem;
        border: 5px solid #00b4a4;
        min-width: 500px;
        padding: 15px;
        font-size: 20px;
        color: white;
        &:focus {
          outline: none;
        }
      }
      textarea {
        height: 300px;
        resize: none;
      }
      input[type="submit"] {
        background-color: #00b4a4;
        border-radius: 0.5rem;
        padding: 10px 15px;
        text-transform: capitalize;
        width: 300px;
        font-size: 24px;
        color: white;
        border: none;
        outline: none !important;
      }
    }
  }
}
